<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org "  th:replace="/Manager/ManagerBase::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<section>

 <nav class="navbar navbar-expand-lg bg-light ">
			<div class="container-fluid d-flex">
					
					<a class="navbar-brand" href="#" >Navbar
					w/ text</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarText"
					aria-controls="navbarText" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<span class="text-danger"
					th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}">Home</span>
				 
				<div>
					Login as Role : - <span class="navbar-text ms-auto text-info" ></span>
				</div>
			</div>
		</nav>
		
		
			<!-- <div class="card-body">
			

				<table class="table table-bordered table-hover">
					<thead class="table-primary table-sm">
						<tr>
							<th>Phone Number</th>
							<th>Email</th>
							<th>Address</th>
							<th>PAN Number</th>
							<th>Aadhaar Number</th>
							
						</tr>
					</thead>

					<tbody>
						<tr>
							<td th:text="${BADetail.phone}"></td>
							<td th:text="${BADetail.userName}"></td>
							<td th:text="${BADetail.address}"></td>
							<td th:text="${BADetail.panNumber}"></td>
							<td th:text="${BADetail.aadhaarNumber}"></td>
							
						</tr>
					</tbody>

				</table>

				<h5 class="fw-bold bg-success text-white mt-4">Bank Details</h5>

				<table class="table table-bordered table-hover">
					<thead class="table-primary table-sm">
						<tr>
							<th>Account Number</th>
							<th>Account Holder Name</th>
							<th>IFSC Code</th>
							<th>Branch Address</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td th:text="${BADetail.accountNumber}"></td>
							<td th:text="${BADetail.accountHolderName}"></td>
							<td th:text="${BADetail.ifscCode}"></td>
							<td th:text="${BADetail.branchAddress}"></td>
						</tr>
					</tbody>

				</table>
				
				

			</div> -->

		</div>

</section>

</body>
</html>