<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="/Admin/AdminBase::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Admin | AddUser</title>
</head>
</head>
<body>


<section>
<div class="container p-3">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card">
						<div class="card-header text-center fs-4">Create Account</div>

						<div class="card-body">
							<form th:action="@{/Admin/saveUser}" th:object="${Users}" method="post">
								<div class="mb-3">
									<label>Enter Full Name</label>
										<input type="text" name="Name" class="form-control">
								</div>
								<div class="mb-3">
									<label>Enter Email</label>
										<input type="email" name="userName" class="form-control">
								</div>
								
								<div class="mb-3">
									<label>Enter Password</label>
										<input type="password" name="password" class="form-control">
								</div>
								
								<div class="mb-3">
									<label>Enter Address</label>
										<input type="text" name="Address" class="form-control">
								</div>
								
								
								
								<div class="mb-3">
							<label>Select Course</label> 
							<select class="form-select"
										aria-label="Default select example" name="role">

										<option>ADMIN</option>
										<option>CALLER</option>
										<option>MANAGER</option>
										<option>FIELDMANAGER</option>
										<option>CLIENT</option>
									</select>

								</div>
								<button class="btn btn-primary col-md-12">Create</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

</section>

</body>
</html>