<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="/Admin/AdminBase::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>


<section>

		
	<!-- 		<div class="card p-4">
				<div
					class=" image d-flex flex-column justify-content-center align-items-center">
					<button class="btn btn-secondary">
						<img src="https://i.imgur.com/wvxPV9S.png" height="100"
							width="100" />
					</button>
					<span class="name mt-3" th:text="${employeeDetails.name}"></span> <span class="idd" th:text="${employeeDetails.userName}"></span>
					<div
						class="d-flex flex-row justify-content-center align-items-center gap-2">
						<span class="idd1" th:text="${employeeDetails.id}"></span> <span><i class="fa fa-copy"></i></span>
					</div>
					<div
						class="d-flex flex-row justify-content-center align-items-center mt-3">
						 <span class="phone" th:text="${employeeDetails.phone}"></span>
					</div>
					<div class=" d-flex mt-2">
						<button class="btn1 btn-dark">Edit Profile</button>
					</div>
					<div class="text mt-3">
						<span>Eleanor Pena is a creator of minimalistic x bold
							graphics and digital artwork.<br>
						<br> Artist/ Creative Director by Day #NFT minting@ with FND
							night.
						</span>
					</div>
					<div
						class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center">
						<span><i class="fa fa-twitter"></i></span> <span><i
							class="fa fa-facebook-f"></i></span> <span><i
							class="fa fa-instagram"></i></span> <span><i
							class="fa fa-linkedin"></i></span>
					</div>
					<div class=" px-2 rounded mt-4 date ">
						<span class="join">Joined May,2021</span>
					</div>
				</div>
			</div> -->
			
			
			
			
			
    <div class="row ms-5">
        <div class="col-md-3 border-right">
				<div
					class="d-flex flex-column align-items-center text-center p-3 py-5">
					<img class="rounded-circle mt-5" width="150px"
						src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
						class="font-weight-bold">Edogaru</span><span class="text-black-50">edogaru@mail.com.my</span><span>
					</span>
				</div>
			</div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    
                </div>
                <div class="row column mt-3 ms-3">
                     <div class="col-md-12"><label class="labels">Name</label><input type="text" class="form-control" th:value="${employeeDetails.name}"></div>
                    <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control"  ></div>
                    <div class="col-md-12"><label class="labels">Address Line 1</label><input type="text" class="form-control" placeholder="enter address line 1" value=""></div>
                    <div class="col-md-12"><label class="labels">Address Line 2</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                    <div class="col-md-12"><label class="labels">Postcode</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                    <div class="col-md-12"><label class="labels">State</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                    <div class="col-md-12"><label class="labels">Area</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                    <div class="col-md-12"><label class="labels">Email ID</label><input type="text" class="form-control" placeholder="enter email id" value=""></div>
                    <div class="col-md-12"><label class="labels">Education</label><input type="text" class="form-control" placeholder="education" value=""></div>
                </div>
                <div class="row mt-3 ms-3">
                    <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value=""></div>
                    <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state"></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
            </div>
        </div>
        <!-- <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
                <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text" class="form-control" placeholder="experience" value=""></div> <br>
                <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="additional details" value=""></div>
            </div>
        </div> -->
    </div>

		

	</section>

</body>
</html>