<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="/Admin/AdminBase::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Users edit page</title>
</head>
<body>
	<section>


		<section>
			<div class="row">
				<div class="col-md-8 offset-md-2 mt-2">
					<div class="card">
						<div class="card-header text-center fs-4 font-weight-bold ">Update
							Employee Details</div>


						<div class="card-body">
							<!-- <th:block th:if="${session.msg}">
						<p th:if="${session.msg == 'Updated Successfully'}"
							class="text-center text-success">[[${session.msg}]]</p>
						<p th:if="${session.msg == 'Something went wrong!'}"
							class="text-center text-danger">[[${session.msg}]]</p>
						<th:block th:text="${@leadServiceImpl.removeSessionMessage()}"></th:block>
					</th:block> -->
							<form
								th:action="@{/Admin/admin_Dashboard/Users/edit/{id}  (id=${employee.Id})}"
								method="post">

								<div class="mb-3">
									<label>Enter Full Name</label> <input type="text" name="name"
										th:value="${employee.name}" placeholder="Full Name"
										class="form-control" />
								</div>

								<div class="mb-3">
									<label>Enter Email</label> <input type="email" name="userName"
										th:value="${employee.userName}"
										placeholder="email@example.com" class="form-control" readonly="readonly">
								</div> 


								<div class="mb-3">
									<label>Enter Phone number</label> <input type="text"
										name="phone" th:value="${employee.phone}"
										placeholder="PhoneNumber" class="form-control">
								</div>



								<div class="mb-3">
									<label>Enter Address</label> <input type="text" name="address"
										th:value="${employee.address}" placeholder="Full Address"
										class="form-control">
								</div>

								<div class="mb-3">
									<label>Enter Pan Number</label> <input type="text"
										name="panNumber" th:value="${employee.panNumber}"
										placeholder="Full Address" class="form-control" readonly="readonly">
								</div>

								<div class="mb-3">
									<label>Enter Aadhaar Number</label> <input type="text"
										name="aadhaar" th:value="${employee.aadhaar}"
										placeholder="Full Address" class="form-control" readonly="readonly">
								</div>

								<div class="mb-3">
									<label>Enter Account Holder Name</label> <input type="text"
										name="accountHolderName" th:value="${employee.accountHolderName}"
										placeholder="Full Address" class="form-control">
								</div>

								<div class="mb-3">
									<label>Enter Account Number</label> <input type="text"
										name="accountNumber" th:value="${employee.accountNumber}"
										placeholder="Full Address" class="form-control">
								</div>

								<div class="mb-3">
									<label>Enter IFSC Code</label> <input type="text"
										name="ifscCode" th:value="${employee.ifscCode}"
										placeholder="Full Address" class="form-control">
								</div>
								
								<div class="mb-3">
								<label>Enter Branch Address</label> <input type="text" name="branchAddress"
									th:value="${employee.branchAddress}" placeholder="Full Address"
									class="form-control">
							</div>
							
							<div class="mb-3">
						<label>Enter Password</label> <input type="text"
							name="password" class="form-control"
							placeholder="Enter a strong password"
							th:value="${employee.password}" >
					</div>
							
						<div class="mb-3">
						<label>Select role</label> <select class="form-select"
							aria-label="Default select example" name="role">
							<option value="" selected disabled th:text="${employee.role}"></option>
							<option>ADMIN</option>
							<option>CALLER</option>
							<option>FIELDMANAGER</option>
						</select>

					</div>
							
								<button type="submit" class="btn btn-primary col-md-12 mt-5">Update</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<br>
		</section>


	</section>
</body>
</html>