<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="/Admin/AdminBase::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<!-- vh-100 -->
	<section class="mb-5" style="background-color: #f4f5f7;">

		<div class="container py-5 h-100">
			<div
				class="row d-flex justify-content-center align-items-center h-100">
				<div class="col col-lg-8 mb-4 mb-lg-0">
					<div class="card mb-3" style="border-radius: .5rem;">
						<div class="row g-0">

							<!-- right side information -->
							<div class="col-md-4 gradient-custom text-center text-white"
								style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
								<img
									src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
									alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
								<h5 th:text="${employee.name}"></h5>
								<p th:text="${employee.role}" class="mb-5"></p>


								<p>Password</p>
								<p>
									<input type="password" class="gradient-custom text-center mb-5"
										value="" th:value="${session.employeeDetails.password}">
								</p>


								<a href="#" th:href="@{/Admin/admin_Dashboard/Users/edit/{id} (id=${employee.id})}" class=" text-white"> <span>Edit</span> <i
									class="far fa-edit mb-5 "></i>
								</a>

								<!-- Show Business Associate button -->
								<div>
								<a th:if="${employee.role == 'ROLE_FIELDMANAGER'}" th:href="@{/Admin/admin_Dashboard/businessAssociateUnderFM/{id}(id=${id})}" class="btn btn-primary">Show Business Associate</a>

								<a th:if="${employee.role == 'ROLE_CALLER'}" th:href="@{/Admin/admin_Dashboard/leadsUnderCaller/{id}(id=${id})}" class="btn btn-primary">Show Leads</a>
								</div>


							</div>

							<!-- Left side information -->
							<div class="col-md-8">
								<div class="card-body p-4">

									<h6 class="d-inline">Information</h6>
									<span class="float-end ms-2 fw-bold" th:text="${employee.id}"></span>
									<span class="float-end">ID:-</span>
									
									<hr class="mt-0 mb-4">
									<div class="row pt-1">

										<div class="col-6 mb-3">
											<h6>Email</h6>
											<p class="text-muted" th:text="${employee.userName}"></p>
										</div>

										<div class="col-6 mb-3">
											<h6>Phone</h6>
											<p class="text-muted" th:text="${employee.phone}"></p>
										</div>

										<div class="col-6 mb-3">
											<h6>Pan Number</h6>
											<p class="text-muted" th:text="${employee.panNumber}"></p>
										</div>

										<div class="col-6 mb-3">
											<h6>Aadhaar Number</h6>
											<p class="text-muted" th:text="${employee.aadhaar}"></p>
										</div>

										<div class="col-12 mb-3">
											<h6>Address</h6>
											<p class="text-muted" th:text="${employee.address}"></p>
										</div>



									</div>

									<h6>Bank Details</h6>
									<hr class="mt-0 mb-4">

									<div class="row pt-1">

										<div class="col-6 mb-3">
											<h6>Account Holder Name</h6>
											<p class="text-muted" th:text="${employee.accountHolderName}"></p>
										</div>

										<div class="col-6 mb-3">
											<h6>Account Number</h6>
											<p class="text-muted" th:text="${employee.accountNumber}"></p>
										</div>

										<div class="col-6 mb-3">
											<h6>IFSC Code</h6>
											<p class="text-muted" th:text="${employee.ifscCode}"></p>
										</div>

										<div class="col-12 mb-3">
											<h6>Branch Address</h6>
											<p class="text-muted" th:text="${employee.branchAddress}"></p>
										</div>

									</div>

									<div class="d-flex justify-content-start">
										<a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
										<a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a> <a
											href="#!"><i class="fab fa-instagram fa-lg"></i></a>
									</div>

								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

	</section>


</body>
</html>