<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="/Admin/AdminBase::layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <title>Lead Details</title>
</head>
<body>

<section>


		<div class="card text-center m-3" >
			<h2>Leads of Caller: <span class="text-primary" ></span> </h2>
		</div>
		
		

		<!-- Button trigger modal -->
<button type="button" class="btn bg-danger bg-gradient ms-3 text-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <i class="fas fa-random"></i> Transfer All Leads <i class="fas fa-users-cog ms-2"></i> 
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Transfer Leads</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
       <form th:action="@{/Admin/admin_Dashboard/leadsUnderCaller/{id}  (id= ${id})}" method="post">
        <div class="mb-3">
									<label>Enter The <b>ID</b>  Of The Caller You Want To Transfer</label> <input type="text"
										name="id" 
										placeholder="Enter ID..." class="form-control">
								</div>
								
								  <button type="submit" class="btn btn-primary d-flex justify-content-center ">Submit</button>
								
								</form>
        
        
      </div>
      
    </div>
  </div>
</div>
		
		<div class="card text-center m-3" th:each="LeadsDetail: ${leads}">
			<div class="card-header">

				<span class="float-sm-start fw-bold me-2">ID:-</span> 
				<span class="float-sm-start" th:text="${LeadsDetail.Id}"></span> 
					<span class=" fw-bold me-2">Name:-</span> 
					<span th:text="${LeadsDetail.name}"></span> 
					<span class=" float-sm-end">
					<span class="fw-bold me-2">Email:-</span> 
					<span th:text="${LeadsDetail.email}"></span>
					</span>

			</div>

			<div class="card-body">
			
			<span class="float-sm-start fw-bold me-2">BA:-</span> 
					<span class="float-sm-start" th:text="${LeadsDetail.businessAssociate.userName}"></span>


				<table class="table table-bordered table-hover  ">
					<thead class="table-primary table-sm">
						<tr>


							<th>Phone Number</th>
							<th>Address</th>
							<th>Course</th>
							<th>Message</th>
							<th>Lead Status</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td th:text="${LeadsDetail.phone}"></td>
							<td th:text="${LeadsDetail.address}"></td>
							<td th:text="${LeadsDetail.course}"></td>
							<td th:text="${LeadsDetail.message}"></td>
							<td th:text="${LeadsDetail.leadStatus}"></td>
						</tr>
					</tbody>

				</table>

			</div>


			<!-- <div class="card-footer text-muted">

				<a
					th:href="@{/Admin/admin_Dashboard/Leads/edit/{id} (id=${LeadsDetail.Id})}"
					class="btn btn-primary me-2"> <i class="fas fa-edit me-2"></i>
					<span>Edit</span>
				</a> <a
					th:href="@{/Admin/admin_Dashboard/Leads/{id} (id=${LeadsDetail.Id})}"
					class="btn btn-danger "> <i class="fas fa-trash-alt me-2"></i>
					<span>Delete</span>
				</a>

			</div> -->

		</div>


	</section>

</body>
</html>
