<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="/Admin/AdminBase::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
	
</head>
<body>

<section>
  
		<div class="card text-center m-3">
			<h2>Search Employee</h2>
		</div>
		
		
		<!-- search -->

		<div class="search-container m-3">

			<input onkeyup="search()" id="search-input" type="text" class="form-control"
				placeholder="search users" />

			<div class="search-result">

				<!-- <h2>This is search result</h2> -->
				
				<!-- result goes here -->

			</div>

		</div>

	</section>

	
</body>
</html>