<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="/Admin/AdminBase::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
	
</head>
<body>

<section>
  
<h1>User Details page</h1>

<!-- search -->

		<div class="search-container my-3">

			<input onkeyup="search()" id="search-input" type="text" class="form-control"
				placeholder="search users" />

			<div class="search-result">

				<!-- <h2>This is search result</h2> -->
				
				<!-- result goes here -->

			</div>

		</div>

	</section>

	
</body>
</html>