<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org "
	th:replace="/BusinessAssociate/businessAssociateBase::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<!-- text-center -->
	<section>
		<div
			class="container py-5 h-100 d-flex justify-content-center align-items-center mt-5 mb-5">
			<div class="card col text-center col-lg-11 ">

				<div class="card-header ">

					<div class="d-inline float-sm-start">

						<i class="fas fa-wallet fs-4"></i> <span class="fs-4">WALLET</span>
						<div>
							<input type="hidden" name="amount" value=""> <i
								class="fas fa-rupee-sign"></i> <span
								class="text-primary  fw-bold"
								th:text="${session.businessAssociate.wallet}"></span>
						</div>


					</div>

					<!-- right side -->
					<div class="float-sm-end">

						<div class="border-start border-3 me-4 h-25">

							<span class="fs-6 ms-5">TOTAL BALANCE</span>
							<div>
								<i class="fas fa-rupee-sign"></i> <span
									class="text-primary  fw-bold"
									th:text="${session.businessAssociate.wallet}"></span>
							</div>

						</div>

					</div>

				</div>
				<div class="card-body">

					<table class="table">
						<thead>
							<tr>
								<th>Select</th>
								<th scope="col">#</th>

								<th scope="col">AMOUNT</th>
								<th scope="col">STATUS</th>
							</tr>
						</thead>

						<tbody>

							<tr th:each="wd: ${walletDetails}" th:if="${wd.status == 'New'}">
							
								<th><input type="checkbox" th:value="${wd.id}" onclick="totalAmountTransfer()"
									class="form-check-input me-2 amount-checkbox">
								</th>
								<th scope="row" th:text="${wd.id}">1</th>
								<td th:text="${wd.amount}"></td>
								<td th:text="${wd.status}"></td>
								
							</tr>



						</tbody>

					</table>

				</div>
				<div class="card-footer text-muted">

					<!-- <a href="#" class="btn border border-2 float-sm-start ms-5"
						data-mdb-ripple-init> <i class="fas fa-file-download me-2"></i>
						<span>Download Statement</span></a>  -->
						<a id="transferAmount"
						class="btn btn-primary float-sm-end mt-2" onclick="transferRequest()">Withdraw
						Amount Request</a>

					<div class="float-sm-end">
						<div class="border-start border-3 me-4 h-25">
							<span class="fs-6 ms-5">TOTAL Amount Withdraw</span>
							<div>
								<i class="fas fa-rupee-sign"></i> <span id="totalAmount" class="text-primary fw-bold" >0</span>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>







<div
			class="container py-5 h-100 d-flex justify-content-center align-items-center mt-5">
			<div class="card col text-center col-lg-11 ">

				<div class="card-header bg-warning">

					<div class="fw-bold text-success fs-3 text-white">Requested</div>

				</div>
				<div class="card-body">

					<table class="table">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">AMOUNT</th>
								<th scope="col">STATUS</th>
							</tr>
						</thead>

						<tbody>

							<tr th:each="wd: ${walletDetails}" th:if="${wd.status == 'Requested'}">
								<th scope="row" th:text="${wd.id}"></th>
								<td th:text="${wd.amount}"></td>
								<td th:text="${wd.status}"></td>
							</tr>



						</tbody>

					</table>

				</div>
				
			</div>
		</div>
		
		
		
		





		<div
			class="container py-5 h-100 d-flex justify-content-center align-items-center mt-2">
			<div class="card col text-center col-lg-11 ">

				<div class="card-header bg-success">

					<div class="fw-bold text-success fs-3 text-white">Approved</div>

				</div>
				<div class="card-body">

					<table class="table">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">TRANSACTION_ID</th>
								<th scope="col">AMOUNT</th>
								<th scope="col">STATUS</th>
							</tr>
						</thead>

						<tbody>

							<tr th:each="wd: ${walletDetails}" th:if="${wd.status == 'Approved'}">
								<th scope="row" th:text="${wd.id}"></th>
								<td th:text="${wd.transaction_id}"></td>
								<td th:text="${wd.amount}"></td>
								<td th:text="${wd.status}"></td>
							</tr>



						</tbody>

					</table>

				</div>
				
			</div>
		</div>













		<div
			class="container py-5 h-100 d-flex justify-content-center align-items-center mt-2">
			<div class="card col text-center col-lg-11 ">

				<div class="card-header bg-danger">

					<div class="fw-bold text-danger fs-3 text-white">Rejected</div>

				</div>
				<div class="card-body">

					<table class="table">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">AMOUNT</th>
								<th scope="col">STATUS</th>
							</tr>
						</thead>

						<tbody>

							<tr th:each="wd: ${walletDetails}" th:if="${wd.status == 'Rejected'}">
								<th scope="row" th:text="${wd.id}"></th>
								<td th:text="${wd.amount}"></td>
								<td th:text="${wd.status}"></td>
							</tr>



						</tbody>

					</table>

				</div>
				
			</div>
		</div>
	</section>

</body>
</html>