<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width,
                                   initial-scale=1.0">
	<title>Entry Form</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
		integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

	

	<style>
		/* Additional styles */
		.container {
			padding: 50px;
			/* Add padding around the container */
		}

		.card-body {
			margin-right: 20px;
			margin-left: 20px;
		}

		.form-control {
			margin-bottom: 10px;
		}

		.header {
			text-align: center;
			margin-bottom: 30px;
			color: green;
		}
	</style>
</head>

<body>




	<div class="container-fluid container-sm my-3">

		<div class="card border-primary">
			<div class="card-body">
				<h3 class="header">Entry Form</h3>
				<div class="col-12 text-center mb-3">

					<div class="form-group ">
						<label for="form_name">Referral Name *</label> <input
							th:value="${businessName}" id="form_name" type="text"
							class="form-control text-center" readonly>

					</div>
				</div>
				<form th:action="@{/CustomersForm/PublicEntryForm?partyid={id}  (id=${param.partyid})}" method="post"
					th:object="${leads}">

					<th:block th:if="${session.msg}">
						<p th:if="${session.msg == 'Saved Successfully'}" class="text-center text-success">
							[[${session.msg}]]</p>
						<p th:if="${session.msg == 'Something went wrong!'}" class="text-center text-danger">
							[[${session.msg}]]</p>
						<th:block th:text="${@leadServiceImpl.removeSessionMessage()}"></th:block>
					</th:block>

					<div class="row">
						<div class="col-md-6">

							<div class="mb-3 w-100">

								<label for="form_name">Fullname *</label> <input id="form_name" type="text" name="name"
									class="form-control" placeholder="Please enter your firstname *"
									th:value="${leads.name}"
									th:classappend="${#fields.hasErrors('name')?'is-invalid':''}">

								<div th:each="e : ${#fields.errors('name')}" th:text="${e}"
									id="validationServer03Feedback" class="invalid-feedback"></div>


							</div>

							<div class="mb-3">
								<label for="form_email">PhoneNumber *</label> <input id="form_email" type="text"
									name="phone" class="form-control" placeholder="Please enter your phone number *"
									th:value="${leads.phone}"
									th:classappend="${#fields.hasErrors('phone')?'is-invalid':''}">

								<div th:each="e : ${#fields.errors('phone')}" th:text="${e}"
									id="validationServer03Feedback" class="invalid-feedback"></div>
							</div>

							<div class="mb-3">
								<label for="form_name">Full Address *</label>
								<input id="form_name" type="text" name="address" class="form-control"
									placeholder="Please enter your address *" th:value="${leads.address}"
									th:classappend="${#fields.hasErrors('address')?'is-invalid':''}">


								<div th:each="e : ${#fields.errors('address')}" th:text="${e}"
									id="validationServer03Feedback" class="invalid-feedback"></div>
							</div>


						</div>

						<div class="col-md-6">

							<div class="mb-3">
								<label for="form_lastname">Email *</label> <input id="form_lastname" type="email"
									name="email" class="form-control" placeholder="Please enter your email *"
									th:value="${leads.email}"
									th:classappend="${#fields.hasErrors('email')?'is-invalid':''}">

								<div th:each="e : ${#fields.errors('email')}" th:text="${e}"
									id="validationServer03Feedback" class="invalid-feedback"></div>
							</div>

							<div class="mb-3">
								<label for="form_need">Please specify your Course *</label>
								<select id="form_need" name="course" class="form-select">
									<option value="" selected disabled>--Select Your
										Course--</option>
									<option th:each="course : ${courses}" th:text="${course.courseName}"></option>

								</select>
							</div>
							<div class="mb-3">
								<label for="form_message">Message *</label>
								<textarea id="form_message" name="message" class="form-control"
									placeholder="Write your message here." rows="4"
									data-error="Please, leave us a message."></textarea>
							</div>


						</div>
					</div>

					<button type="submit" class="btn w-100 btn-success">Submit</button>

				</form>



			</div>

		</div>
		<div>

			<iframe
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14004.171477661668!2d77.16488957405089!3d28.658435034546997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d028c6f461cdb%3A0x63ea8c1e5c23e724!2sRamjas%20Public%20School%20(Senior%20Wing)!5e0!3m2!1sen!2sin!4v1712312793623!5m2!1sen!2sin"
				width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
				referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>

</html>