<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Entry Form</title>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
	integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<script
	src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"
	async defer></script>
<style>
#map {
	height: 400px;
	width: 100%;
}
</style>
</head>
<body>

	<section>

		<div class=" text-center mt-5 ">

			<h1>Entry Form</h1>


		</div>

		<div class="d-flex justify-content-center">
			<div class="row col-11 ">
				<div class=" mx-auto">
					<div class=" card mt-2 mx-auto p-4 ">
						<div class="col-12 card-body ">



							<div class="col-12 text-center mb-3">

								<div class="form-group ">
									<label for="form_name">Referral Name *</label> <input
										th:value="${businessName}" id="form_name" type="text"
										class="form-control text-center" readonly>

								</div>
							</div>
							<form id="contact-form" role="form"
								th:action="@{/CustomersForm/PublicEntryForm?partyid={id}  (id=${param.partyid})}"
								method="post" th:object="${leads}">



								<div class="controls">

									<th:block th:if="${session.msg}">
										<p th:if="${session.msg == 'Saved Successfully'}"
											class="text-center text-success">[[${session.msg}]]</p>
										<p th:if="${session.msg == 'Something went wrong!'}"
											class="text-center text-danger">[[${session.msg}]]</p>
										<th:block th:text="${@leadServiceImpl.removeSessionMessage()}"></th:block>
									</th:block>



									<div class="row mb-3">

										<div class="col-6 ">
											<div class="form-group">
												<label for="form_name">Fullname *</label> <input
													id="form_name" type="text" name="name" class="form-control"
													placeholder="Please enter your firstname *"
													th:value="${leads.name}"
													th:classappend="${#fields.hasErrors('name')?'is-invalid':''}">

												<div th:each="e : ${#fields.errors('name')}" th:text="${e}"
													id="validationServer03Feedback" class="invalid-feedback"></div>

											</div>
										</div>
										<div class="col-md-6 ">
											<div class="form-group">
												<label for="form_lastname">Email *</label> <input
													id="form_lastname" type="email" name="email"
													class="form-control"
													placeholder="Please enter your email *"
													th:value="${leads.email}"
													th:classappend="${#fields.hasErrors('email')?'is-invalid':''}">

												<div th:each="e : ${#fields.errors('email')}" th:text="${e}"
													id="validationServer03Feedback" class="invalid-feedback"></div>

											</div>
										</div>
									</div>
									<div class="row mb-3">
										<div class="col-md-6">
											<div class="form-group">
												<label for="form_email">PhoneNumber *</label> <input
													id="form_email" type="text" name="phone"
													class="form-control"
													placeholder="Please enter your phone number *"
													th:value="${leads.phone}"
													th:classappend="${#fields.hasErrors('phone')?'is-invalid':''}">

												<div th:each="e : ${#fields.errors('phone')}" th:text="${e}"
													id="validationServer03Feedback" class="invalid-feedback"></div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="form_need">Please specify your Course *</label>
												<select id="form_need" name="course" class="form-select">
													<option value="" selected disabled>--Select Your
														Course--</option>
													<option th:each="course : ${courses}"
														th:text="${course.courseName}"></option>

												</select>

											</div>
										</div>
									</div>



									<div class="row ">

										<div class="col-md-12 mb-3">
											<div class="form-group">
												<label for="form_name">Full Address *</label> <input
													id="form_name" type="text" name="address"
													class="form-control"
													placeholder="Please enter your address *"
													th:value="${leads.address}"
													th:classappend="${#fields.hasErrors('address')?'is-invalid':''}">


												<div th:each="e : ${#fields.errors('address')}"
													th:text="${e}" id="validationServer03Feedback"
													class="invalid-feedback"></div>
											</div>
										</div>

										<!-- removed required from message as it is optional -->
										<div class="col-md-12 mb-3">
											<div class="form-group">
												<label for="form_message">Message *</label>
												<textarea id="form_message" name="message"
													class="form-control" placeholder="Write your message here."
													rows="4" data-error="Please, leave us a message."></textarea>
											</div>

										</div>


										<div class="text-center mt-2">

											<input type="submit"
												class="btn btn-success btn-send col-2  btn-block">

										</div>

									</div>


								</div>
							</form>
						</div>
					</div>


				</div>
				<!-- /.8 -->

			</div>
			<!-- /.row-->


		</div>


		<div class="d-flex justify-content-center">
			<div class="col-md-11 mt-3 bg-dark">



				<div class="col-md-6">

					<h4 class="widget-title text-white">Quick Contact</h4>
					<p class="text-white text-white">C-4, Community Centre, Pankha
						Road, Janak Puri, New Delhi-110058</p>
					<ul class="list-inline mt-5">

						<li class="m-0 pl-10 pr-10"><i
							class="fas fa-envelope fa-xs me-2 ms-2" style="color: #d97d7d;"></i><a
							class="text-white" href="mailto:contact@aspirelessons.com">contact@aspirelessons.com</a>
						</li>
						<br>


						<li class="m-0 pl-10 pr-10"><i
							class="fa fa-globe text-theme-colored2 mr-5"></i><a
							class="text-white" style="color: white; padding-bottom: 5px;"
							href="https://www.aspirelessons.com/" target="_blank">www.aspirelessons.com</a>
						</li>
					</ul>

				</div>

				<div class="col-md-6">
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d112064.95248264776!2d77.091206!3d28.628870000000003!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb64a723dd5962dfb!2sAspire%20Lessons!5e0!3m2!1sen!2sin!4v1662723168771!5m2!1sen!2sin"
						width="300" height="250" style="border: 0;" allowfullscreen=""
						loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

				</div>



			</div>
		</div>
		<br> <br>



	</section>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>

	<script src=https://code.jquery.com/jquery-3.6.0.min.js></script>

</body>
</html>