<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="/BusinessAssociate/businessAssociateBase::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Copy Link Field</title>
</head>
<body>

<section>
    <div class="container mt-5">
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="copyLinkInput"
                   onchange="updateQRCodeLink()"
                   th:value="'http://localhost:8080/CustomersForm/PublicEntryForm?partyid=' + ${session.businessAssociate.id}">
            <button class="btn btn-primary" type="button" onclick="copyLink()">Copy Link</button>
        </div>
        
        <div> <a id="generateQRCodeButton" class="btn btn-primary" onclick="updateQRCodeLink()">Generate QR Code</a> </div>
    	<input type="hidden" id="businessAssociateId" th:value="${session.businessAssociate.id}">
    </div>

    
    
</section>

</body>
</html>
