<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="/Caller/CallerBase::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<section>

<div class="container rounded bg-white border border-info mb-3">
        <div class="row">
            <div class="col-md-3 border-end  border-3">
                <div class="d-flex flex-column align-items-center text-center p-2 py-5"><img class="rounded-circle mt-5" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" width="90">
                <span class="font-weight-bold" th:text="${session.employeeDetails.name}"></span>
                <span class="text-black-50" th:text="${session.employeeDetails.userName}"></span>
                <span th:text="${session.employeeDetails.role}"></span>
                
                <label class="labels mt-5">Password</label>
                <input class= "text-center" type="password" th:value="${session.employeeDetails.password}">
                  
                </div>
           
            </div>
            <div class="col-md-9">
                <div class="p-2 py-5 ">
                    <div class="d-flex justify-content-center align-items-center mb-3">
                        <div class="d-flex flex-row align-items-center back fs-3"> <i class="fas fa-id-card-alt mr-1 mb-1 me-2"></i> <span>Profile</span> </div>                   
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" placeholder="name" th:value="${session.employeeDetails.name}"></div>
                        <div class="col-md-6"><label class="labels">Email/Username</label><input type="text" class="form-control" th:value="${session.employeeDetails.userName}" placeholder="Email"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">phone Number</label><input type="text" class="form-control" placeholder="phone" th:value="${session.employeeDetails.phone}"></div>
                        <div class="col-md-6"><label class="labels">Pan Number</label><input type="text" class="form-control" th:value="${session.employeeDetails.panNumber}" placeholder="Phone number"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">Aadhaar Number</label><input type="text" class="form-control" placeholder="address" th:value="${session.employeeDetails.aadhaar}"></div>
                        
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Address</label><input type="text" class="form-control" placeholder="Bank Name" th:value="${session.employeeDetails.address}"></div>
                        
                    </div>
                    
                    <!-- Bank Details -->
                    
                    <div class = "p-3 mt-3" style="background-color:#EBEDEF">
                    
                    <div class = "d-flex justify-content-center align-items-center fs-3">  <i class="fas fa-university me-2"></i> <span>Bank Details</span> </div>
                     
                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">Account Holder Name</label><input type="text" class="form-control" placeholder="phone" th:value="${session.employeeDetails.accountHolderName}"></div>
                        <div class="col-md-6"><label class="labels">Account Number</label><input type="text" class="form-control" th:value="${session.employeeDetails.accountNumber}" placeholder="Phone number"></div>
                    </div>
                    
                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">IFSC Code</label><input type="text" class="form-control" placeholder="phone" th:value="${session.employeeDetails.ifscCode}"></div>
                        <div class="col-md-6"><label class="labels">Branch Address</label><input type="text" class="form-control" th:value="${session.employeeDetails.branchAddress}" placeholder="Phone number"></div>
                    </div>
                    
                    </div>
                    
                    <div class="mt-4 text-right d-flex justify-content-center align-items-center"><button class="btn btn-primary profile-button" type="button">Edit Profile</button></div>
                </div>
            </div>
        </div>
    </div>


</section>

</body>
</html>