<!doctype html>
<html lang="en" dir="" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> -->
	
	<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
	
	<link th:href="@{css/style.css}" rel="stylesheet" />
	
    <title th:text="${title}">Base Html</title>
    
  </head>
  	<body>
  <nav class="navbar navbar-expand-lg secondary">
  <img class="ms-2" th:src="@{/img/Suprams_logo.jpg}">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" href="#" th:href="@{/}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Info</a>
      </li>
    </ul>

  </div>



 <a th:href="@{/addAdmin}">
      <button type="button" class="btn  bg-primary me-3">Add Admin</button>
     </a> 

<a th:href="@{/CustomersForm/PublicEntryForm?(partyid=${1})}">
      <button type="button" class="btn  bg-primary me-3">Customer form</button>
     </a>

	<a th:href="@{/login}">
      <button type="button" class="btn  btn-danger me-3">Login</button>
     </a>
     
</nav>
    
     <div th:replace="${content}"></div> 
    
       
  	
   <footer class="text-center bg-light fixed-bottom">
  <div class="secondary text-white py-2 ">
    <span>Copyright &copy; 2024 SUPRAMS</span>
  </div>
</footer>
   
   
<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
		crossorigin="anonymous">
   </script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js">
</script> -->

<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>

	<script src=https://code.jquery.com/jquery-3.6.0.min.js></script>

  </body>
</html>