<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org "
	th:replace="/FieldManager/FieldManagerBase::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>

		<div class="row border ">
			<div class="col-md-3 border-right  ms-3">
				<div
					class="d-flex flex-column align-items-center text-center p-3 py-5">
					<img class="rounded-circle mt-5" width="150px"
						src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
						class="font-weight-bold" th:text="${session.employeeDetails.name}"></span><span
						class="text-black-50"
						th:text="${session.employeeDetails.userName}"></span><span>
					</span>
				</div>
			</div>
			<div class="col-md-5 border-right  ms-5">
				<div class="p-3 py-5">
					<div
						class="d-flex justify-content-between align-items-center mb-3 ms-4">
						<h4 class="text-right">Profile Settings</h4>
					</div>
					<div class="row mt-2"></div>
					<div class="row column mt-3 ms-3">
						<div class="col-md-12">
							<label class="labels">Name</label><input type="text"
								class="form-control" th:value="${session.employeeDetails.name}"
								readonly>
						</div>
						<div class="col-md-12">
							<label class="labels">Mobile Number</label><input type="text"
								class="form-control" th:value="${session.employeeDetails.phone}"
								readonly>
						</div>
						<div class="col-md-12">
							<label class="labels">Address Line 1</label><input type="text"
								class="form-control" placeholder="enter address line 1"
								th:value="${session.employeeDetails.address}" readonly>
						</div>
						<!-- <div class="col-md-12"><label class="labels">Address Line 2</label><input type="text" class="form-control" placeholder="enter address line 2" value="" readonly></div> -->
						<div class="col-md-12">
							<label class="labels">Aadhaar</label><input type="text"
								class="form-control" placeholder="enter address line 2" value=""
								th:value="${session.employeeDetails.aadhaar}" readonly>
						</div>
						<div class="col-md-12">
							<label class="labels">PanNumber</label><input type="text"
								class="form-control" placeholder="enter address line 2" value=""
								th:value="${session.employeeDetails.panNumber}" readonly>
						</div>
						<div class="col-md-12">
							<label class="labels">Email ID</label><input type="text"
								class="form-control" placeholder="enter email id" value=""
								th:value="${session.employeeDetails.userName}" readonly>
						</div>
						<div class="col-md-12">
							<label class="labels">Password</label><input type="password"
								class="form-control" placeholder="enter address line 2" value=""
								th:value="${session.employeeDetails.password}" readonly>
						</div>

					</div>


					<div class="row column mt-3 ms-3 bg-secondary text-white rounded-3">
						<div class="text-center mt-2">Bank Details</div>

						<div class="col-md-12">
							<label class="labels">Name</label><input type="text"
								class="form-control"
								th:value="${session.employeeDetails.accountHolderName}" readonly>
						</div>
						<div class="col-md-12">
							<label class="labels">Mobile Number</label><input type="text"
								class="form-control"
								th:value="${session.employeeDetails.branchAddress}" readonly>
						</div>


						<div class="row mb-3">
							<div class="col-md-6">
								<label class="labels">Account Number</label><input type="text"
									class="form-control" placeholder="country" value=""
									th:value="${session.employeeDetails.accountNumber}" readonly>
							</div>
							<div class="col-md-6">
								<label class="labels">IFSC Code</label><input type="text"
									class="form-control" value="" placeholder="state"
									th:value="${session.employeeDetails.ifscCode}" readonly>
							</div>
						</div>

					</div>

					<div class="mt-5 text-center">
						<button class="btn btn-primary profile-button" type="button">Save
							Profile</button>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>