<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org "
	th:replace="/FieldManager/FieldManagerBase::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Leads page</title>

</head>
<body>

	<section>
	<div class="container mt-5">
        <div class="row justify-content-center">
            <div class="total-leads-card">
                <h2 class="total-leads-number">Number of Leads</h2>
                <span>Total Leads :- </span> <span class="fw-bold fs-5 ms-3" th:text="${session.numberOfLeads}"></span>
            </div>
        </div>
    </div>
	</section>

</body>
</html>